*, html{
	width: 95%;
	font-family: Helvetica;
	margin:  20px auto;
}

@media only screen and (min-width: 992px){
.item1 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 30%;
  background-color: grey;
  float: left;
}

.item2 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 30%;
  background-color: grey;
  float: left;
}

.item3 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 30%;
  background-color: grey;
  float: left;
}

h1{
	font-size: 24px;
	text-align: center;
	margin: 10px;

}

h2{
  border: 2px solid black;
  width: 40%;
  margin: 0px;
  float: right;
  text-align: center;
  background-color: pink;
  font-size: 20px;
}

p{
  padding-top: 10px;
clear:right;
  padding: 10px;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px){
.item1 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 45%;
  background-color: grey;
  float: left;
}

.item2 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 45%;
  background-color: grey;
  float: left;
}

.item3 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 91%;
  background-color: grey;
  clear:left;
}

h1{
	font-size: 24px;
	text-align: center;
	margin: 10px;

}

h2{
  border: 2px solid black;
  width: 150px;
  margin: 0px;
  float: right;
  text-align: center;
  background-color: pink;
  font-size: 20px;
}

p{
  padding-top: 10px;
clear:right;
  padding: 10px;
}

}

@media only screen and (max-width: 767px){
.item1 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 90%;
  background-color: grey;
  float: left;
}

.item2 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 90%;
  background-color: grey;
  float: left;
}

.item3 {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 5px;
  width: 90%;
  background-color: grey;
  clear:left;
}

h1{
	font-size: 24px;
	text-align: center;
	margin: 10px;
	
}

h2{
  border: 2px solid black;
  width: 150px;
  margin: 0px;
  float: right;
  text-align: center;
  background-color: pink;
  font-size: 20px;
}

p{
  padding-top: 10px;
clear:right;
  padding: 10px;
}

}



